<div class="col-md-6">
    <img class="img-responsive" src="img/logo.jpg" alt="logo" />
</div>               
<div class="col-md-6">
    <div class="form-group">
        <a class="btn btn-primary btn-lg btn-block" href="index.html#/user/planning">PLANNING</a>
    </div>
    <div class="form-group">
        <a class="btn btn-primary btn-lg btn-block" href="index.html#/user/navigatie">NAVIGATIE</a>
    </div>
    <div class="form-group">
        <a class="btn btn-primary btn-lg btn-block" href="index.html#/user/berichten">BERICHTEN</a>
    </div>

    <div class="form-group">
        <a class="btn btn-danger btn-lg pull-right" href="./login.html">AFMELDEN</a>
    </div>
</div>