<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <a class="btn btn-default btn-lg" href="index.html#/user"><span class="glyphicon glyphicon-arrow-left"></span></a>
            Lossen Televisies
            <div class="btn-group pull-right">
                <a class="btn btn-default btn-lg" href="index.html#/user/planning"><span class="glyphicon glyphicon-check"></span></a>
                <a class="btn btn-default btn-lg" href="index.html#/user/opmerkingen">OPMERKING</a>
            </div>
        </div>
    </div>
</div>
<div class="row" data-ng-controller="CtrlGMap2">

    <div gmap="gmap"></div>

</div>
