<div class="row">
    <textarea class="form-control" placeholder="typ hier uw opmerkingen of neem een foto door op de knop onderaan te klikken"></textarea>
</div>
<div class="row">
    <a class="btn btn-default btn-lg" href="index.html#/user/navigatie"><span class="glyphicon glyphicon-arrow-left"></span></a>
    <div class="btn-group pull-right">
    <a class="btn btn-default btn-lg" href="index.html#/user/navigatie"><span class="glyphicon glyphicon-camera"></span></a>
    <a class="btn btn-default btn-lg" href="index.html#/user/navigatie"><span class="glyphicon glyphicon-check"></span></a>
    </div>
</div>
