<form name="form" novalidate ng-submit="create(voertuig)">
<div novalidate class="col-md-6">
    <div class="form-group">
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="NIEUW VOERTUIG"/> 
    </div>
    <div class="form-group bottom">
        <a class="btn btn-default btn-lg" href="index.html#/admin/voertuigen"><span class="glyphicon glyphicon-arrow-left"></span></a>
        <!--<a class="btn btn-success btn-lg pull-right" ng-click="create(voertuig)"><span class="glyphicon glyphicon-floppy-disk"></span>   OPSLAAN</a>-->
        <button class="btn btn-success btn-lg pull-right" ng-disabled="form.$invalid" type="submit"><span class="glyphicon glyphicon-floppy-disk"></span>   OPSLAAN</button>
    </div>
</div>
    <div class="col-md-6" >
        <table class="table table-striped">
            <tr><td>
                    <label>nummerplaat</label>
                </td>
                <td>
                    <input class="form-control" name="nummperplaat" placeholder ="nummerplaat" type="text" ng-model="voertuig.nummerplaat" ng-pattern="/^([0-9]-)?[aA-zZ]{3}-[0-9]{3}$/" required/>
                    <div class="alert alert-danger" ng-show="form.nummperplaat.$dirty && form.nummperplaat.$invalid">
                        <span ng-show="form.nummperplaat.$error.pattern">Nummerplaat moet van het type 'XXX-000' of '0-XXX-000' zijn.<br/></span>
                        <span ng-show="form.nummperplaat.$error.unique">Nummerplaat bestaat al.</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>actief</label></td>
                <td>
                    <input class="form-control" type="checkbox" ng-model="voertuig.actief"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>omschrijving</label></td><td><input class="form-control" name="omschrijving" type="text" ng-model="voertuig.omschrijving" ng-maxlength=30 required/>
                    <div class="alert alert-danger" ng-show="form.omschrijving.$error.maxlength">
                        <span ng-show="form.omschrijving.$error.maxlength">Omschrijving mag maximum 30 karakters lang zijn.<br/></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>type</label></td><td><input class="form-control" name="type" type="text" ng-model="voertuig.voertuigtype" ng-maxlength=30 required />
                    <div class="alert alert-danger" ng-show="form.type.$error.maxlength">
                        <span ng-show="form.type.$error.maxlength">Type mag maximum 30 karakters lang zijn.<br/></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>bouwjaar</label></td><td><input class="form-control" name="bouwjaar" type="text" ng-model="voertuig.bouwjaar" ng-pattern="/^[0-9]{4}/[0-9]{2}$/" required/>
                    <div class="alert alert-danger" ng-show="form.bouwjaar.$dirty && form.nummperplaat.$invalid">
                        <span ng-show="form.bouwjaar.$error.pattern">Bouwjaar moet van het type 'XXXX/XX' zijn.<br/></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>in gebruik</label></td><td><input class="form-control" type="date" ng-model="voertuig.datumin" required/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>uit gebruik</label></td><td><input class="form-control" type="date" ng-model="voertuig.datumuit"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>chassisnr</label></td><td><input class="form-control" name="chassisnr" type="text" ng-model="voertuig.chassisnummer" ng-maxlength=17/>
                    <div class="alert alert-danger" ng-show="form.chassisnr.$error.maxlength">
                        <span ng-show="form.chassisnr.$error.maxlength">Chassis- of framenummer moet 17 karakters lang zijn.<br/></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>motornr</label></td><td><input class="form-control" name="motornummer" type="text" ng-model="voertuig.motornummer" ng-maxlength=10/>
                    <div class="alert alert-danger" ng-show="form.motornummer.$error.maxlength">
                        <span ng-show="form.motornummer.$error.maxlength">Motornummer kan maximum 10 karakters lang zijn.<br/></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>vergunning</label></td><td><input class="form-control" type="checkbox" ng-model="voertuig.vergunning"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>geldig tot</label></td><td><input class="form-control" type="date" ng-model="voertuig.vergunninggeldigtot"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>vrij veld</label></td><td><input class="form-control" name="vrijveld" type="text" ng-model="voertuig.vrijveld" ng-maxlength=30/>
                    <div class="alert alert-danger" ng-show="form.vrijveld.$error.maxlength">
                        <span ng-show="form.vrijveld.$error.maxlength">300 tekens maximum.<br/></span>
                    </div>
                </td>
            </tr>
        </table>  
    </div>
</form>