/* app css stylesheet */


/* Zoek icoon*/
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon span {
    position: absolute;
    padding: 10px 12px;
}

/* Algemeen */
.container {
    padding-top: 8%;
}

#main-row {
    height:84%;
}

.list-group {
    height: 300px;
    overflow-y: scroll;
}

textarea {
    overflow-y: scroll;
    resize: none;
}

/* Navigatie */
.google-map {
    width: 100%;
    height: 700px;
}
