<div class="col-md-4">
    <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block">BERICHTEN</button>
        <div class="list-group">
            <!-- ng-repeat: Er wordt geïtereerd door de berichten -->
            <!-- ng-click: click event gekoppeld aan de controller -->
            <a ng-repeat="bericht in berichten" href="" class="list-group-item" ng-click="select(bericht)">
                <h4 class="list-group-item-heading">{{bericht.GebruikerId}}</h4>
                <p class="list-group-item-text">{{bericht.BerichtTitel}}</p>
            </a>
        </div>
        <a class="btn btn-success btn-lg pull-right" href="index.html#/admin/berichten/nieuw"><span class="glyphicon glyphicon-plus"></span>&nbsp;NIEUW</a>
    </div>
    <div class="form-group bottom">
        <a class="btn btn-default btn-lg" href="index.html#/admin"><span class="glyphicon glyphicon-arrow-left"></span></a>
    </div>
</div>
<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{bericht.BerichtTitel}}<small class="pull-right">van: {{bericht.OntvangerId}}</small></h4>
        </div>
        <div class="panel-body">
            <textarea class="form-control" rows="20" ng-model="bericht.Bericht" disabled>
            </textarea>
        </div>
        <div class="panel-footer text-right">
            <div class="btn-group">
                <button class="btn btn-danger btn-lg" ng-click="delete()"><span class="glyphicon glyphicon-remove"></span>&nbsp;VERWIJDEREN</button>
                <button class="btn btn-primary btn-lg" ng-click="answer()"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;BEANTWOORDEN</button>
            </div>
        </div>
    </div>
</div>
