<div class="col-md-4">
    <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block">NIEUW BERICHT</button>
    </div>
    <div class="form-group bottom">
        <a class="btn btn-default btn-lg" href="index.html#/admin/berichten"><span class="glyphicon glyphicon-arrow-left"></span></a>
    </div>
</div>
<div class="col-md-8">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Naar wie wil je een bericht sturen" ng-model="OntvangerId"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Onderwerp van het bericht" ng-model="berichtTitel"/>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="20" placeholder="Typ hier uw bericht" ng-model="Bericht">
                </textarea>
            </div>
        </div>
        <div class="panel-footer text-right">
            <div class="btn-group">
                <button class="btn btn-primary btn-lg btn-block" ng-click="send()"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;VERSTUREN</button>
            </div>
        </div>
    </div>
</div>
