<div class="col-md-6">
    <div class="form-group">
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="NIEUW VOERTUIG"/> 
    </div>
    <div class="form-group bottom">
        <a class="btn btn-default btn-lg" href="index.html#/admin/voertuigen"><span class="glyphicon glyphicon-arrow-left"></span></a>
        <a class="btn btn-success btn-lg pull-right" href="index.html#/admin/voertuigen" ng-click="add()"><span class="glyphicon glyphicon-floppy-disk"></span>   OPSLAAN</a>
    </div>
</div>
<div class="col-md-6">
    <table class="table table-striped">
        <tr><td>nummerplaat:</td><td><input class="form-control" type="text" ng-model="nummerplaat"/></td></tr>
        <tr><td>actief:</td><td><input class="form-control" type="checkbox" ng-model="actief"/></td></tr>
        <tr><td>omschrijving:</td><td><input class="form-control" type="text" ng-model="omschrijving"/></td></tr>
    </table>  
</div>
