<div class="col-md-6">
    <div class="form-group">
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="NIEUWE KLANT"/> 
    </div>
    <div class="form-group bottom">
        <a class="btn btn-default btn-lg" href="index.html#/admin/klanten"><span class="glyphicon glyphicon-arrow-left"></span></a>
        <a class="btn btn-success btn-lg pull-right" href="index.html#/admin/klanten" ng-click="save()"><span class="glyphicon glyphicon-floppy-disk"></span>   OPSLAAN</a>
    </div>
</div>
<div class="col-md-6">
    <table class="table table-striped">
        <tr><td>name:</td><td><input class="form-control" type="text" ng-model="name"/></td></tr>
        <tr><td>address:</td><td><input class="form-control" type="text" ng-model="address"/></td></tr>
        <tr><td>age:</td><td><input class="form-control" type="number" ng-model="age"/></td></tr>
    </table>  
</div>
