<div class="col-md-6">
    <div class="form-group">
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="DATUM"/> 
    </div>
    <div class="form-group bottom">
        <a class="btn btn-default btn-lg" href="index.html#/admin/administratie"><span class="glyphicon glyphicon-arrow-left"></span></a>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
    <input class="form-control" type="date"/>
    </div>
    <div class="form-group bottom pull-right">
        <a class="btn btn-default btn-lg" href="index.html#/admin/administratie"><span class="glyphicon glyphicon-arrow-right"></span></a>
    </div>
</div>
