<div class="col-md-6">
    <img class="img-responsive center-block" src="img/logo.jpg" alt="logo" />
</div>               
<div class="col-md-6">
    <div class="form-group">
        <a class="btn btn-primary btn-lg btn-block" href="index.html#/admin/administratie"><span class="glyphicon glyphicon-list"></span>&nbsp;ADMINISTRATIE</a>
    </div>
    <div class="form-group">
        <a class="btn btn-primary btn-lg btn-block" href="index.html#/admin/planning"><span class="glyphicon glyphicon-calendar"></span>&nbsp;PLANNING</a>
    </div>
    <div class="form-group">
        <a class="btn btn-primary btn-lg btn-block" href="index.html#/admin/berichten"><span class="glyphicon glyphicon-inbox"></span>&nbsp;BERICHTEN&nbsp;<span class="badge">15</span></a>
    </div>
    <div class="form-group">
        <a class="btn btn-danger btn-lg pull-right" href="./login.html">AFMELDEN&nbsp;<span class="glyphicon glyphicon-log-out"></span></a>
    </div>
</div>
