<div class="col-md-6">
    <div class="form-group">
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="MASTERDATA"/>
    </div>
    <div class="form-group bottom">
        <a class="btn btn-default btn-lg" href="index.html#/admin/administratie"><span class="glyphicon glyphicon-arrow-left"></span></a>
    </div>
</div>
<div class="col-md-6">
    <ul class="klanten list-unstyled">
        <li>
            <div class="form-group">
            <a class="btn btn-primary btn-lg btn-block" href="index.html#/admin/klanten">KLANTEN</a>
            </div>
        </li>
        <li>
            <div class="form-group">
            <a class="btn btn-primary btn-lg btn-block" href="index.html#/admin/masterdata">TRANSPORTADRESSEN</a>
            </div>
        </li>
        <li>
            <div class="form-group">
            <a class="btn btn-primary btn-lg btn-block" href="index.html#/admin/masterdata">VOERTUIGEN</a>
            </div>
        </li>
        <li>
            <div class="form-group">
            <a class="btn btn-primary btn-lg btn-block" href="index.html#/admin/masterdata">OPLEGGERS</a>
            </div>
        </li>
        <li>
            <div class="form-group">
            <a class="btn btn-primary btn-lg btn-block" href="index.html#/admin/masterdata">WERKNEMERS</a>
            </div>
        </li>
        <li>
            <div class="form-group">
            <a class="btn btn-primary btn-lg btn-block" href="index.html#/admin/masterdata">VARIA</a>
            </div>
        </li>
    </ul>
</div>
