<div class="col-md-6">
    <div class="form-group">
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="KLANTEN"/> 
    </div>
    <div class="form-group left-inner-addon">
        <span class="glyphicon glyphicon-search"></span>
        <input class="form-control" type="search" ng-model="query" placeholder="Zoeken">
    </div>
    <div class="form-group bottom">
        <a class="btn btn-default btn-lg" href="index.html#/admin/masterdata"><span class="glyphicon glyphicon-arrow-left"></span></a>
        <a class="btn btn-success btn-lg pull-right" ng-click="add()"><span class="glyphicon glyphicon-plus"></span>&nbsp;VOEG TOE</a>
    </div>
</div>
<div class="col-md-6">
    <ul class="list-unstyled">
        <!-- ng-repeat: Er wordt geïtereerd door de klanten -->
        <li ng-repeat="klant in klanten | filter:query | orderBy:'voornaam'">
            <div class="btn-group btn-group-justified form-group">
            <a class="btn text-left btn-primary btn-lg" href="index.html#/admin/klant/{{klant.klantid}}/{{klant.adresid}}/{{klant.contactid}}/{{klant.taal}}">{{klant.voornaam}} {{klant.naam}}</a>
            <a class="btn text-left btn-danger btn-lg" ng-click="delete(klant.klantid)">VERWIJDER</a>
            </div>
        </li>
    </ul>
</div>
